<div class="section-main" id="showcase">
          <h1 id="title">Porini Wildlife Tracker.</h1>
          <h2>Use rangers to track wildlife.</h2>
          <p class="lead hide-on-small">
           Track wildlife in real time
          </p>

          <a href="/sightings/new" class="btn btn-primary mb">Add Sighting</a>
        </div>
