<!DOCTYPE html>
<html>
  <head>
    <title>Beauty Hair Salon</title>
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <link rel='stylesheet' href='/app.css'>
   <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  </head>


<div class="ui secondary pointing menu" id="navhead">
  <a class="active item" href="/" id="navhome">
    Home
  </a>
</div>
<body>
    
      #parse( $template )

  </body>
</html>