@import url('https://fonts.googleapis.com/css?family=Dosis');

h1{
    font-family: 'Dosis', sans-serif;
}

#navhome{
    font-family: 'Dosis', sans-serif;
    font-size: 15px;
    color: red;
}
body{
    font-family: 'Dosis', sans-serif; 
    text-align: center;
}

#showcase {
    margin: 0;
    padding: 0;
    background: url("https://images.pexels.com/photos/247431/pexels-photo-247431.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat center/cover;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-y: hidden;
    color: #fff;
    text-align: center;
    font-family: 'Dosis', sans-serif;
}
#showcase h2 {
    font-size: 2rem;
}

#showcase h1{
    font-size: 4rem;
    margin-bottom: 0;
}

.mb {
    margin-bottom: 1rem;
}

.btn {
    padding: 1rem;
    color: #fff;
    display: inline-block;
}

#animalform{
    display: inline-block;
    
}

.reveal-if-active {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
  }
  
  input[type="checkbox"]:checked ~ .reveal-if-active {
    opacity: 1;
    max-height: 100px;
    overflow: visible;
  }

  #sightingform{
      display: inline-block;
  }



